<h1 class="text-center">Map Operator</h1>

<mat-table [dataSource]="people">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Mapped ID</mat-header-cell>
    <mat-cell *matCellDef="let person">{{person.mappedID}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="firstname">
    <mat-header-cell *matHeaderCellDef>Mapped Firstname</mat-header-cell>
    <mat-cell *matCellDef="let person">{{person.mappedFirstname}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="lastname">
    <mat-header-cell *matHeaderCellDef>Mapped Lastname</mat-header-cell>
    <mat-cell *matCellDef="let person">{{person.mappedLastname}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Mapped Description</mat-header-cell>
    <mat-cell *matCellDef="let person">{{person.mappedDescription}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="peopleColumns"></mat-header-row>
  <mat-row *matRowDef="let person; columns: peopleColumns"></mat-row>
</mat-table>

<h3 class="text-center">
  Map operator does an action for each value from source.
</h3>

<p>
  The map operator is used to modifiy the response object
  obtained from API and then passed to subscribe function.
</p>

<pre>
  <code [innerHTML]="code"></code>
</pre>
<!--<hr>

<div class="container">
  <form [formGroup]="form"
        (ngSubmit)="submitForm()">
    <input type="text"
           name="firstname"
           formControlName="firstname"
           placeholder="Firstname">
    <br>
    <br>
    <input type="text"
           name="lastname"
           formControlName="lastname"
           placeholder="Lastname">
    <br>
    <br>
    <textarea name="description"
              formControlName="description"
              placeholder="Description">
    </textarea>
    <br>
    <br>
    <button type="submit">
      Confirm your data Here
    </button>
  </form>
</div>-->

