<h1 class="text-center">Merge Map Operator</h1>

<div class="text-center">
  <input type="text"
         id="firstname"
         placeholder="Firstname">
  <br>
  <input type="text"
         id="lastname"
         placeholder="Lastname">
</div>

<p class="text-center">Combined result: {{combinedResult}}</p>

<h3 class="text-center">
  Merge Map operator does an action for an observable
  and emits his values.
</h3>

<p>
  The merge map operator is used for merging the response object
  obtained from an observable with another obtained from a different
   observalbe and then passed to subscribe function.
</p>

<pre>
  <code [innerHTML]="code"></code>
</pre>
